.image_border_radius {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.image_circle{
  border-radius: 50%;
}

nav .user_profile{
  width: 10vw;
  margin: 10px;
}

.arrow-left{
  margin: 10px;
}
