.event {
  margin: 0 1rem;

  &__btn {
    background-color: #FFB100;
    border-radius: 22px;
    border-color: white;
    width: 30vw;
    height: 5vh;
    color: white;
    float: right;
  }

  &-info {
    &-title {
      margin-bottom: 5px;
    }

    &-datetime {
      margin-top: 0;
      margin-bottom: 0;
    }
    &_google-api {
      float: left;
      display: inline;
    }
    &_detail {
      margin-top: 1rem;
    }

    &-map {
      font-size: small;
      color: #08c;
      text-decoration: line-through;
    }

    &-add-calender {
      font-size: small;
      color: #08c;
      text-decoration: line-through;
    }

    &__icon{
      width: 20px;
    }

  }
}

.reaction{
  &-change{
    margin: auto;
    padding: 15px;
    border: 2px black solid;
  }
}

.participant{
  &-list{
    margin: 0 auto;
    display: flex;
    &:first-child{
    }
  }
  &-image{
    width: 15vw;
    height: 15vw;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 2vh;
  }
  &-reaction {
    margin: auto;

    &-balloon1 {
      position: relative;
      display: inline-block;
      margin: auto;
      padding: 1px 10px;
      min-width: 15%;
      max-width: 100%;
      color: #555;
      background: #FFDE95;
      border-radius: 10px;
    }

    &-balloon1:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border: 5px solid transparent;
      border-top: 8px solid #FFDE95;
    }

    &-balloon1 p {
      margin: 0;
      padding: 0;
    }
  }

  &-label{
    width: auto;
  }

  &-modal{
    &-textlines{
      border: 1px solid #707070;  /* 枠線 */
      border-radius: 8px;         /* 角丸 */
      padding: 10px;              /* 内側の余白量 */
      width: auto;           /* 横幅 */
      height: 120px;              /* 高さ */
      font-size: 1em;             /* 文字サイズ */
      line-height: 1.2;           /* 行の高さ */
    }

    &-detail{
      color: #707070;
      font-size: 13px;
      text-align: left;
      margin-bottom: 20px;
    }
  }

  &-element{
    display: grid;
  }
}

.comment{
  &-user{
    height: 10vw;
    border-bottom: #707070 solid 0.25px;
    //padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    &__image{
      width: 9vw;
      float: left;
      height: 9vw;
    }
    &__content{
      float: left;
      height: 9vw;
      line-height: 9vw;
      margin: 0;
      margin-left: 10px;
    }
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.section-margin{
  margin-top: 5vh;
  margin-bottom: 3vh;
  h3{
    margin-bottom: 10px;
  }
}